@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.btn-small{
  margin: 2px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn{
margin: 2px;
padding: 10px 20px;
font-size: 16px;
line-height: 1.5;
border-radius: 5px;
}

.btn-merah{
  color: #fff;
  background-color: #d9534f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;

}

.btn-hijau{
color: white;
background-color: #4CAF50; /* Green */
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.btn-biru{
color: white;
background-color: #337ab7; /* Green */
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

.btn-kuning{
color: white;
background-color: #ec971f; /* Green */
border: none;
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
}

table{
margin-top: 4vh;
border-collapse: collapse;
width: 100%;
}

table th, table td {
border: 1px solid #ddd;
padding: 1vh;
}


table tr:nth-child(even){background-color: #f2f2f2;}

table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}